@charset "UTF-8";

body{
    background-color: rgb(204, 217, 246);
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 16px;
}

h1{
    color: black;
    background-color: rgb(204, 217, 246);
}

h2{
    color: brown;
}

p{
    text-align: justify;
}