@charset "UTF-8";

body{
    background-color: var(--azul4);
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 320px;          /* Largura da área */
    max-width: 1000px;         /* Largura da área */
    margin: auto;
    padding: 10px;
}

:root{
    --verde1: rgb(35, 103, 59); --verde2: rgb(65, 150, 85); --verde3: rgb(66, 147, 73); --verde4: rgb(60, 147, 52);
    --azul1: rgb(37, 74, 145); --azul2: rgb(40, 118, 164); --azul3: rgb(57, 163, 185); --azul4: rgb(128, 194, 218);
    --preto1: rgb(34, 35, 36); --preto2: rgb(101, 101, 101); --preto3: rgb(136, 135, 135); --preto4: rgb(171, 169, 165);    
}

header{
    text-align: center;
}

h1{
    color: black;
}

h2{
    color: brown;
}

p{
    text-align: justify;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;  /* Remove hiperlink */
}

a:hover{
    text-decoration: underline;
}

.container {
    display: flex;                            /* Alinha os itens em linha */
    flex-wrap: wrap;                          /* Permite quebra de linha, se necessário */
    justify-content: space-between;           /* Espaçamento entre os blocos */
    padding: 0px;                            /* Espaço interno do container */
}

.caixa {
    display: flex;
    margin-bottom: 0px;
    align-items: center;                            /* Centraliza verticalmente */
    justify-content: center;                        /* Centraliza horizontalmente */
    font-size: 16px;
    background-color: var(--azul4);
    /*border: 1px solid rgb(0, 0, 0);*/
    height: 45px;
    width: 150px;
    text-align: center;
    border-radius: 0px;                             /* Borda arredondada opcional */
    cursor: pointer;                                /* Indica que pode ser clicado */
    transition: background-color 0.3s;
}

.caixa:hover {
    background-color: var(--azul3);        /* Efeito hover */
}

footer{
    background-color: var(--verde1);
}



/* Sub-Menus */
.dropdown {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 45px; /* igual à altura da caixa */
    left: 0;
    background-color: var(--azul4);
    width: 150px;
    z-index: 10;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.submenu a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: left;
}

.submenu a:hover {
    background-color: var(--azul3); /* ajuste conforme seu tema */
}

.dropdown:hover .submenu {
    display: flex;
}
