@charset "UTF-8";

body{
    background-color: skyblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

h1{
    color: black;
    background-color: skyblue;
}

h2{
    color: brown;
}

p{
    text-align: justify;
}